.front-page-wrapper{
    margin-top: -100px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.front-page-img{
    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.front-page-content{
    margin: 20% auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li{
        font-family: 'Avenir Black';
        font-weight: 900;
    font-style: normal;
        letter-spacing: 2px;
        font-size: 46px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    p{
        font-family: 'Avenir Light Oblique';
        font-weight: 300;
        font-style: italic;
        letter-spacing: 2px;
        font-size: 20px;
        margin: 1% 0 0 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        font-family: 'Avenir Black Oblique';
        font-weight: normal;
        font-style: italic;
        color: plum;
    }
}

@media screen and (max-width: 600px) {
    
    .front-page-wrapper{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 0;
    }
    .front-page-content{
        text-align: center;
        width: 85%;
        height: auto;
        margin: 13% auto 0 auto;
        li{
            font-size: 24px;
            margin-bottom: 4%;
        }
        p{
            margin-top: 8%;
            font-size: 18px;
            line-height: 1.4;
        }
    }
    .front-page-img{
        margin-top: -220px;
    }

}

@media screen and (min-width: 600px) and (max-width: 1240px) {
    .front-page-content{
        width: 85%;
        li{
            font-size: 28px;
            line-height: 1.4;
        }
        p{
            margin-top: 5%;
            font-size: 18px;
            line-height: 1.3;
        }

    }
}