.content-wrapper{
    width: 70%;
    margin: 0 auto;
    img{
        width: 100%;
        height: auto;
        margin: 2% 0;
    }
    p{
        width: 64%;
        margin: 0 auto 2% auto;
        font-family: 'Avenir';
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 1px;
        text-align: center;
        font-family: 'Avenir Book';
    }
}

.wp-block-button{
    margin: 5% auto;
    width: 20%;
    display: flex;
    justify-content: center;

    a{
        background-color: plum;
        color: white;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 18px;
    }
}