
.page-info-wrapper{
    text-align: center;
    margin: 5% auto;
        h2{
            @include title;
        }
        p{
            @include header-info;
        }
}

.grid-img-wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-row-gap: 1%;
    grid-column-gap: 1.5%;
    margin: 0 auto 5% auto;
    width: 90%;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }
    img:hover{
        box-shadow: 0 0 18px #888888;
    }
}

.wide-grid-wrapper{
    margin: 0 auto 5% auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2.5%;
    grid-column-gap: 0.75%;
    img:hover{
        box-shadow: 0 0 18px #888888;
    }
}

.photography-grid{
    img:hover{
        box-shadow: none;
    }
}