.content-wrapper{
    margin: 0 auto;
    img{
        width: 100%;
        height: auto;
    }
    p{
        width: 45%;
        margin: 1% auto;
        font-family: 'Avenir';
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }
}