.wrapper{
    width: 90%;
    margin: 0 auto;
}

.page-info-wrapper{
    text-align: center;
    margin: 5% auto 3% auto;
        h2{
            @include title;
        }
        p{
            @include header-info;
            width: 35%;
        }
}

@media screen and (max-width: 600px) {
    .page-info-wrapper{
        margin-bottom: 8%;
        p{
            font-size: 16px;
            min-width: 335px;
        }
        h2{
           font-size: 18px;
           margin-bottom: 5%;
        }
    }
    .content-wrapper{
        margin: 0 auto;
        min-width: 330px;

        p{
            font-size: 14px;
            height: auto;
            min-width: 300px;
        }
    }
}